.content {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
}
ul {
	padding: 0;
	margin: 0;
	width: 1000px;
	height: 200px;
	position: absolute;
	left: 0;
}
ul li {
	float: left;
	width: 200px;
	height: 200px;
	list-style: none;
}
li img {
	width: 100%;
	height: 100%;
}